# .env
RAW_FILE=/home/kiwilytics/airflow/Jewelry Transactions Dataset/Data/Raw/jewelry.csv
CLEAN_FILE=/home/kiwilytics/airflow/Jewelry Transactions Dataset/Data/Processed/jewelry_events_final_cleaned.csv
PG_CONN_ID=postgres_conn
OUTPUT_DIR=/home/kiwilytics/airflow/Jewelry Transactions Dataset/analytics_charts